<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SysLogRecMapper">

	<!--表名 -->
	<sql id="tableName">
		tb_sys_bill_off_mapping
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		TYPE_CODE,
		BILL_OFF,
		MAPPING_CODE,
		FMIS_TABLE
	</sql>
	
	<!-- 列表 -->
	<select id="datalistJqPage" parameterType="jqPage" resultType="pd">
		select 
		    <include refid="Field"></include>
		from <include refid="tableName"></include>
		<where>
		    <if test="pd.filterWhereResult!= null and pd.filterWhereResult != ''"><!-- 关键词检索 -->
			   ${pd.filterWhereResult}
		    </if>
		    <if test="pd.QueryFeild!= null and pd.QueryFeild != ''">
		        ${pd.QueryFeild}
		    </if>
		</where>
		<if test="sidx != null and sidx.trim() != ''" >
			order by ${sidx} ${sord} 
    	</if>
		<if test="currentResult != null and rowNum != null" >           
              limit #{currentResult}, #{rowNum} 
        </if>
	</select>
	<select id="countJqGridExtend" parameterType="jqPage" resultType="int">
		select count(*)
		from <include refid="tableName"></include>
		<where>
		    <if test="pd.filterWhereResult!= null and pd.filterWhereResult != ''"><!-- 关键词检索 -->
			   ${pd.filterWhereResult}
		    </if>
		    <if test="pd.QueryFeild!= null and pd.QueryFeild != ''">
		        ${pd.QueryFeild}
		    </if>
		</where>
	</select>
</mapper>