<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="FundsSelfSummyMapper">
	
	<!-- 获取单号下拉列表数据源 -->
	<select id="getBillCodeList" parameterType="pd" resultType="String">
		select distinct BILL_CODE
		from ${TableName}
		<where>
	        ${CanOperate}
		</where>
		order by BILL_CODE
	</select>
	
	<!-- 列表 -->
	<select id="datalistJqPage" parameterType="jqPage" resultType="pd">
		select 
		    * 
		    <if test="pd.FieldSelectKey!= null and pd.FieldSelectKey != ''">
		        ${pd.FieldSelectKey}
		    </if>
		from ${pd.TableName}
		<where>
		    <if test="pd.filterWhereResult!= null and pd.filterWhereResult != ''"><!-- 关键词检索 -->
			    ${pd.filterWhereResult}
		    </if>
		    <if test="pd.QueryFeild!= null and pd.QueryFeild != ''">
		        ${pd.QueryFeild}
		    </if>
		</where>
		<if test="sidx != null and sidx.trim() != ''" >
			order by ${sidx} ${sord} 
    	</if>
	</select>
	<select id="countJqGridExtend" parameterType="jqPage" resultType="int">
		select count(*) 
		from ${pd.TableName}
		<where>
		    <if test="pd.filterWhereResult!= null and pd.filterWhereResult != ''"><!-- 关键词检索 -->
			    ${pd.filterWhereResult}
		    </if>
		    <if test="pd.QueryFeild!= null and pd.QueryFeild != ''">
		        ${pd.QueryFeild}
		    </if>
		</where>
	</select>
	<select id="getFooterSummary" parameterType="jqPage" resultType="pd">
		select ${pd.Userdata} 
		from ${pd.TableName}
		<where>
		    <if test="pd.filterWhereResult!= null and pd.filterWhereResult != ''"><!-- 关键词检索 -->
			    ${pd.filterWhereResult}
		    </if>
		    <if test="pd.QueryFeild!= null and pd.QueryFeild != ''">
		        ${pd.QueryFeild}
		    </if>
		</where>
	</select>
	
	<!-- 明细 -->
	<select id="getFirstDetailList" parameterType="pd" resultType="pd">
	    select 
		    * 
		    <if test="FieldSelectKey!= null and FieldSelectKey != ''">
		        ${FieldSelectKey}
		    </if>
		from ${TableName}
		where BILL_CODE = '${BILL_CODE}'
	</select>
	<select id="getSecondDetailList" parameterType="pd" resultType="pd">
		select * 
		from ${TableName}
		<where>
	        ${QueryFeild}
		</where>
	</select>
	
    <!-- 通过单号判断数据是否变更 -->
	<select id="getCheckStateList" parameterType="pd" resultType="pd">
		select *
		from ${TableName}
		where BUSI_DATE = '${SystemDateTime}'
		<if test="CanOperate!= null and CanOperate != ''">
		    ${CanOperate}
		</if>
	</select>
	
    <!-- 获取保存数据 -->
	<select id="getSaveList" parameterType="String" resultType="pd">
	    ${value}
	</select>
	
	<!-- 汇总 -->
	<update id="batchSummyBill" parameterType="java.util.Map">
		<if test="UpdateBillNum != null">
		    delete from TB_SYS_BILLNUM
		    where BILL_CODE = #{UpdateBillNum.BILL_CODE} and BILL_DATE=#{UpdateBillNum.BILL_DATE};
		
		    insert into TB_SYS_BILLNUM
		    (BILL_CODE,	BILL_DATE, BILL_NUMBER) values (#{UpdateBillNum.BILL_CODE}, #{UpdateBillNum.BILL_DATE}, #{UpdateBillNum.BILL_NUMBER});
		</if>
		<if test="SaveBillList != null">
		    <foreach item="item" index="index" collection="SaveBillList" open=" " separator=" " close=" ">
		        insert into ${item.TableName}
		        (${item.InsertField}) values (${item.InsertVale});
		    </foreach>
		</if>
		<if test="SaveSummyList != null">
		    <foreach item="item" index="index" collection="SaveSummyList" open=" " separator=" " close=" ">
		        insert into ${item.TableName}
		        (${item.InsertField}) values (${item.InsertVale});
		    </foreach>
		</if>
		<if test="SaveDetailList != null">
		    <foreach item="item" index="index" collection="SaveDetailList" open=" " separator=" " close=" ">
		        insert into ${item.TableName}
		        (${item.InsertField}) values (${item.InsertVale});
		    </foreach>
		</if>
	</update>
	
	<!-- 取消汇总 -->
	<update id="batchCancelSummy" parameterType="pd">
		<foreach item="item" index="index" collection="list" open=" " separator=" " close=" ">
		    update ${item.TableName}
		    set BILL_USER = #{item.BILL_USER}, 
		    BILL_STATE = #{item.BILL_STATE}
		    where BILL_CODE = #{item.BILL_CODE}
	        ${item.CanOperate};
		</foreach>
	</update>
</mapper>