<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SalaryLaborCostFactSheetMapper">

	<!--表名 -->
	<sql id="tableName">
	
	</sql>

	<!-- 列表 -->
	<select id="datalistJqPage" parameterType="jqPage" resultType="pd">
		select *
		from <include refid="tableName"></include>
		where BUSI_DATE = '${pd.SystemDateTime}'
		<if test="pd.filterWhereResult!= null and pd.filterWhereResult != ''"><!-- 关键词检索 -->
			${pd.filterWhereResult}
		</if>
		    <if test="pd.QueryFeild!= null and pd.QueryFeild != ''">
		        ${pd.QueryFeild}
		    </if>
		<if test="sidx != null and sidx.trim() != ''" >
			order by ${sidx} ${sord} 
    	</if>
		<if test="currentResult != null and rowNum != null" >           
              limit #{currentResult}, #{rowNum} 
        </if>
	</select>
</mapper>