<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="GlItemUserMapper">
	
<!-- 
 * 说明： 在建工程信息维护
 * 创建人：zhangxiaoliu
 * 创建时间：2018-08-17
 * @version
 -->
 
	<!--表名 -->
	<sql id="tableName">
		tb_house_fund_detail
	</sql>

	<!-- 字段 -->
	<sql id="Field">
		DEPT_CODE,
		BUSI_TYPE,
		LTD_DAY,
		LTD_HOUR
	</sql>
	<sql id="FieldSelectKey">
		,DEPT_CODE DEPT_CODE__,
		BUSI_TYPE BUSI_TYPE__,
		LTD_DAY LTD_DAY__,
		LTD_HOUR LTD_HOUR__
	</sql>

	<!-- 字段值 -->
	<sql id="FieldValue">
		#{DEPT_CODE},
		#{BUSI_TYPE},
		#{LTD_DAY},
		#{LTD_HOUR}
	</sql>
	<sql id="FieldValueItem">
		#{item.DEPT_CODE},
		#{item.BUSI_TYPE},
		#{item.LTD_DAY},
		#{item.LTD_HOUR}
	</sql>
	
	<!-- 列表 -->
	<select id="datalistJqPage" parameterType="jqPage" resultType="pd">
		select 
		    <include refid="Field"></include>
		    <include refid="FieldSelectKey"></include>
		from <include refid="tableName"></include>
		where BUSI_DATE = '${pd.SystemDateTime}'
		<if test="pd.filterWhereResult!= null and pd.filterWhereResult != ''"><!-- 关键词检索 -->
			${pd.filterWhereResult}
		</if>
		    <if test="pd.QueryFeild!= null and pd.QueryFeild != ''">
		        ${pd.QueryFeild}
		    </if>
		<if test="sidx != null and sidx.trim() != ''" >
			order by ${sidx} ${sord} 
    	</if>
		<if test="currentResult != null and rowNum != null" >           
              limit #{currentResult}, #{rowNum} 
        </if>
	</select>
	<select id="countJqGridExtend" parameterType="jqPage" resultType="int">
		select count(*) from <include refid="tableName"></include> 
		where BUSI_DATE = '${pd.SystemDateTime}'
		<if test="pd.filterWhereResult!= null and pd.filterWhereResult != ''"><!-- 关键词检索 -->
			${pd.filterWhereResult}
		</if>
		<if test="pd.QueryFeild!= null and pd.QueryFeild != ''">
		    ${pd.QueryFeild}
		</if>
	</select>

	<!-- 列表 -->
	<select id="getRepeatList" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
        <where>
		<foreach item="item" index="index" collection="list" open=" " separator=" or " close=" ">
            ((DEPT_CODE = #{item.DEPT_CODE} and BUSI_TYPE = #{item.BUSI_TYPE})
             and (DEPT_CODE != #{item.DEPT_CODE__} or BUSI_TYPE != #{item.BUSI_TYPE__}))
		</foreach>
		</where>
	</select>
	
	<update id="batchDelAndIns" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where
		<foreach item="item" index="index" collection="list" open=" (" separator=" or " close=") ">
		    DEPT_CODE = #{item.DEPT_CODE__}
		    and BUSI_TYPE = #{item.BUSI_TYPE__}
		</foreach>;
		
		<foreach item="item" index="index" collection="list" open=" " separator=" " close=" ">
		    insert into <include refid="tableName"></include>
		    (<include refid="Field"></include>) values (<include refid="FieldValueItem"></include>);
		</foreach>
	</update>

	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where
		<foreach item="item" index="index" collection="list" open=" (" separator=" or " close=") ">
		    DEPT_CODE = #{item.DEPT_CODE__} 
		    and BUSI_TYPE = #{item.BUSI_TYPE__}
		</foreach>
	</delete>
	
	<!-- 导出列表 -->
	<select id="exportList" parameterType="jqPage" resultType="pd">
		select * 
		from 
		<include refid="tableName"></include>
		where BUSI_DATE = '${pd.SystemDateTime}'
		and DEPT_CODE = '${pd.SelectedDepartCode}'
	    and CUST_COL7 = '${pd.SelectedCustCol7}' 
		${pd.CheckBillCode}
		<if test="sidx != null" >
			order by ${sidx} ${sord} 
    	</if>
	</select>
	<!-- 导出模板 -->
	<select id="exportModel" parameterType="pd" resultType="pd">
		select * 
		from 
		<include refid="tableName"></include>
		where DEPT_CODE = '${SelectedDepartCode}'
	    and CUST_COL7 = '${SelectedCustCol7}'
		order by BUSI_DATE desc
		limit 1
	</select>
</mapper>